body {
  min-height: 300vh;
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.grid-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-square {
  position: relative;
  height: 135px;
  width: 135px;
  background-color: #e3fff8;
}

/* squares */
.square {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sq-left-center {
  right: 100%;
  background-color: #72cdda;
}

@media (max-width: 1200px) {
  .center-square {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 1000px) {
  .center-square {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 800px) {
  .center-square {
    width: 95px;
    height: 95px;
  }
}

@media (max-width: 600px) {
  .center-square {
    width: 80px;
    height: 80px;
  }
}

/* triangle */
.triangle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tr-bottom-left {
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.tr-top-left {
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.tr-top-right {
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.tr-bottom-right {
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.tr-quarter-left {
  clip-path: polygon(0 100%, 50% 50%, 0 0);
}

.tr-quarter-bottom {
  clip-path: polygon(0 100%, 100% 100%, 50% 50%);
}

.tr-quarter-right {
  clip-path: polygon(50% 50%, 100% 100%, 100% 0);
}

.tr-quarter-top {
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

/* ROW 1 */

/* col 1 */
.tr1-row1-col1 {
  background: #08252d; 
  top: -198%;
  right:297%;
}

.tr2-row1-col1 {
  background: #081b24; 
  z-index: 3;
  top: -198%;
  right:297%;
}

.tr3-row1-col1 {
  background: #11313f;
  top: -198%;
  right:297%;
}

.tr4-row1-col1 {
  background:#1b4456; 
  top: -198%;
  right:297%;
}

/* col 2 */
.tr1-row1-col2 {
  background:#33738d; 
  top: -198%;
  right:198%;
}

.tr2-row1-col2 {
  background: #326d87; 
  z-index: 3;
  top: -198%;
  right:198%;
}

.tr3-row1-col2 {
  background: #2b647f;
  top: -198%;
  right:198%;
}

.tr4-row1-col2 {
  background: #29627c; 
  top: -198%;
  right:198%;
}

/* col 3 */
.tr1-row1-col3 {
  background:#326d87; 
  top: -198%;
  right:99%;
}

.tr2-row1-col3 {
  background:#1e4c63; 
  z-index: 3;
  top: -198%;
  right:99%;
}

.tr3-row1-col3 {
  background:#1e4c63;
  top: -198%;
  right:99%;
}

.tr4-row1-col3 {
  background:#2c6580; 
  top: -198%;
  right:99%;
}

/* col 4 */
.tr1-row1-col4 {
  background:#2a6883; 
  top: -198%;
}

.tr2-row1-col4 {
  background:#1f4e62; 
  top: -198%;
}

/* col 5 */
.tr1-row1-col5 {
  background:#266078; 
  top: -198%;
  left: 99%;
}

.tr2-row1-col5 {
  background:#0c212a; 
  top: -198%;
  left: 99%;
} 

/* col 6 */
.tr1-row1-col6 {
  background:#0c212a; 
  top: -198%;
  left: 198%;
}

.tr2-row1-col6 {
  background:#1c4b5e; 
  top: -198%;
  left: 198%;
}

/* col 7 */
.sq-row1-col7 {
  background:#091c25;
  top: -198%;
  left: 297%; 
}

/* Row 2 */

/* col 1 */
.tr1-row2-col1 {
  background: #113240;
  top: -99%;
  right:297%;
}

.tr2-row2-col1 {
  background:#14404f;
  top: -99%;
  right:297%;
}

.tr3-row2-col1 {
  background: #173b4c;
  top: -99%;
  right:297%;
}

.tr4-row2-col1 {
  background: #123642;
  top: -99%;
  right:297%;
}

/* col 2 */
.tr1-row2-col2 {
  background: #23566c;
  top: -99%;
  right:198%;
}

.tr2-row2-col2 {
  background:#307088;
  top: -99%;
  right:198%;
}

.tr3-row2-col2 {
  background:#2b6984;
  top: -99%;
  right:198%;
}

.tr4-row2-col2 {
  background:#215268;
  top: -99%;
  right:198%;
}

/* col 3 */
.tr1-row2-col3 {
  background: #326d87;
  top: -99%;
  right:99%;
}

.tr2-row2-col3 {
  background:#448eae;
  top: -99%;
  right:99%;
}

.tr3-row2-col3 {
  background: #418ead;
  top: -99%;
  right:99%;
}

.tr4-row2-col3 {
  background: #377d98;
  top: -99%;
  right:99%;
}

/* col 4 */
.tr1-row2-col4 {
  background: #7bd8dc;
  top: -99%;
}

.tr2-row2-col4 {
  background:#5eb2cc;
  top: -99%;
}

/* col 5 */
.tr1-row2-col5 {
  background: #6bc5d7;
  top: -99%;
  left: 99%;
}

.tr2-row2-col5 {
  background:#4d9bb9; 
  top: -99%;
  left: 99%;
}

.tr3-row2-col5 {
  background:#63bdd1;
  top: -99%;
  left: 99%;
}

/* col 6 */
.sq-row2-col6 {
  background: #153948;
  top: -99%;
  left: 198%;
}

/* col 7 */
.tr1-row2-col7 {
  background: #0f2c3b;
  top: -99%;
  left: 297%;
}

.tr2-row2-col7 {
  background: #07161f;
  top: -99%;
  left: 297%;
}

/* Row 3 */

/* Col 1 */
.tr1-row3-col1 {
  background: #103445;
  right: 297%;
}

.tr2-row3-col1 {
  background: #205368;
  right: 297%;
}

/* col 2 */
.tr1-row3-col2 {
  background: #215469;
  right: 198%;
}

.tr2-row3-col2 {
  background: #2b6883;
  right: 198%;
}

/* col 3 */
.sq-row3-col3 {
  background: #71ced8;
  right: 99%;
}

/* col 5 */
.tr1-row3-col5 {
  background: #74d0da;
  left: 99%;
}

.tr2-row3-col5 {
  background: #5eb2cc;
  left: 99%;
}

/* col 6 */
.tr1-row3-col6 {
  background: #2a6883;
  left: 198%;
}

.tr2-row3-col6 {
  background: #112c37;
  left: 198%;
}

.tr3-row3-col6 {
  background: #1f4e65;
  left: 198%;
}

/* col 7 */
.sq-row3-col7 {
  background: #08252d;
  left: 297%;
}

/* Row 4 */

/* col 1 */
.tr1-row4-col1 {
  background: #153e4d;
  top: 99%;
  right: 297%;
}

.tr2-row4-col1 {
  background: #163a49;
  top: 99%;
  right: 297%;
}

/* col 2 */
.tr1-row4-col2 {
  background: #194455;
  top: 99%;
  right: 198%;
}

.tr2-row4-col2 {
  background: #28617b;
  top: 99%;
  right: 198%;
}

.tr3-row4-col2 {
  background: #204f64;
  top: 99%;
  right: 198%;
}

/* col 3 */
.tr1-row4-col3 {
  background: #63bdd1;
  top: 99%;
  right: 99%;
}

.tr2-row4-col3 {
  background: #5bb0ca;
  top: 99%;
  right: 99%;
}

/* col 4 */
.tr1-row4-col4 {
  background: #8ae9e2;
  top: 99%;
}

.tr2-row4-col4 {
  background:#7fdadb;
  top: 99%;
}
.tr3-row4-col4 {
  background: #74d0da;
  top: 99%;
}

/* col 5 */
.tr1-row4-col5 {
  background: #63bdd1;
  top: 99%;
  left: 99%;
}

.tr2-row4-col5 {
  background:#5bb0ca;
  top: 99%;
  left: 99%;
}
.tr3-row4-col5 {
  background: #4c9bb9;
  top: 99%;
  left: 99%;
}

/* col 6 */
.tr1-row4-col6 {
  background: #1e5267;
  top: 99%;
  left: 198%;
}

.tr2-row4-col6 {
  background:#29627c;
  top: 99%;
  left: 198%;
}
.tr3-row4-col6 {
  background: #0c212a;
  top: 99%;
  left: 198%;
}

/* col 7 */
.tr1-row4-col7 {
  background: #103443;
  top: 99%;
  left: 297%;
}

.tr2-row4-col7 {
  background:#0c212a;
  top: 99%;
  left: 297%;
}
.tr3-row4-col7 {
  background: #0d2d3b;
  top: 99%;
  left: 297%;
}












