body {
  min-height: 300vh;
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  border: 2px solid green;
}

.grid-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  background-color: black;
  height: 150px;
  width: 150px;
}

.square {
  position: absolute;
  width: 10%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.sq-center {
  left: 45%;
  top: 40.5%;
  background-color: lightblue;
}

.sq-left-center {
  left: 35%;
  top: 40.5%;
  background-color: darkblue;
}

.triangle {
  position: absolute;
  width: 10%;
}

.triangle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.tr-bottom-left {
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.tr-top-left {
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.tr-top-right {
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.tr-bottom-right {
  clip-path: polygon(100% 100%, 100% 1%, 0 100%);
}

.tr-quarter-left {
  clip-path: polygon(0 100%, 50% 50%, 0 0);
}

.tr-1 {
  background-color: green;
  left: 55%;
  top: 40.5%;
}

.tr-2 {
  background-color: yellow;
  left: 55%;
  top: 40.5%;
}
















